.App {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-weight: 500;
  font-family: "VarelaRound-Regular", serif;
  text-rendering: optimizeLegibility;
  color: #000;
  font-size: 5em;
}

.App-text {
  font-weight: 500;
  font-family: "VarelaRound-Regular", serif;
  text-rendering: optimizeLegibility;
  color: #000;
  font-size: 1.5em;
}

.App-link {
  text-decoration: none;
  color: #000;
}

.App-icon-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-icon-link {
  text-decoration: none;
  color: #000;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  position: relative;
}


